.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: century gothic;
  margin: 0;
  padding: 0;
}
h1 {
  color: blue;
  font-size: 30px;
}
.input {
  margin-bottom: 5px;
}
.allLists {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
}
.allItmes_wrapper {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.listWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin-left: -3px;
  margin-bottom: 2px;
}
.listWrapper:nth-child(odd) {
  background-color: lightgray;
}
.listWrapper:nth-child(even) {
  background-color: lightblue;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 2px;
}
p::first-letter {
  text-transform: uppercase;
  color: blue;
}
p {
  margin: 0;
  padding: 0;
}
input {
  width: 250px;
}
